
.rightbarad {
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.rightbartfriendlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbartfriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarprofileimgcontainer{
    margin-right: 10px;position: relative;
}
.rightbartitle{
    margin-bottom: 20px;
}
.rightbarprofileimg{
    width:40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
}
.rightbaronline{
    width: 12px;height: 12px;
    border-radius: 50%;
    background-color:limegreen;
    position: absolute;
    top:-2px;
    right: 0;
    border: 2px solid white;
}
.rightbarUsername{
font-weight:500;
}